:root{
    --primary-color: #21C588;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --star-gold-color: #FFCE3E;
    --border-color: #dbdbdb;
    --header-height: 100px;

}
